<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
	<!-- agrega los beans de hibernate y dataSource -->
	<import resource="classpath:dataSource.xml" />
    <import resource="classpath:hibernate.cfg.xml" />
    
	<!-- sesiones de hibernate -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- Para obtener el application context -->
	<bean id="contextApplicationContextProvider" class="util.BlockbisterContextProvider"></bean>
	
	<!-- Imprementacion de repositorios -->
	<bean id="personaRepository" class="repository.imp.HibernatePersonaRepository">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- DTO Factory -->
	<bean class="dto.DTOFactory" id="dtoFactory"> </bean>
	
	<!-- Factory de repositorios -->
	<bean id="repositoryLocator" class="repository.RepositoryLocator" factory-method="getInstance">
		<!-- Definido en la parte de "implementacion de repositorios" -->
		<property name="personaRepository">
			<ref bean="personaRepository" />
		</property>
		
	</bean>
	
	<!-- Implementacion del servicio base, contiene todos los repositorios -->
	<bean id="baseService" class="service.imp.BaseServiceImp">
		<!-- Definido en la parte de "implementacion de repositorios" -->
	
	</bean>
	
	<!-- Implementacion de servicios -->
	<bean class="service.imp.PersonaServiceImp" id="personaServiceTarget" parent="baseService"> </bean>
	
	<!--  ni idea, pareciera configuracion necesaria para lograr persistencia con hibernate -->
	<!-- Hay que hacer uno por cada "implementacion de servicio" -->
	<bean class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" id="personaService">
		
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		<!-- se declara con que bean de "implementacion de servicios" se mapea esto -->
		<property name="target">
			<ref bean="personaServiceTarget"/>
		</property>
		
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
		
	</bean>
	
	<!-- Factory de service -->
	<bean class="service.ServiceLocator" id="serviceLocator" factory-method="getInstance">
		<!-- aca se mapea los servicios de "impementacion de servicios" -->
		<property name="personaService">
			<ref bean="personaServiceTarget"/>
		</property>
	</bean>
	
</beans>